accelerate==0.27.2
aiofiles==23.2.1
altair==5.2.0
anaconda-anon-usage 
anaconda-client==1.11.2
anaconda-cloud-auth 
anaconda-navigator 
anaconda-project 
annotated-types==0.6.0
anyio 
appnope
asgiref==3.7.2
asttokens
backoff==2.2.1
backports.functools-lru-cache
backports.tempfile 
beautifulsoup4 
bleach 
brotlipy==0.7.0
build==1.0.3
CacheControl==0.13.1
cachetools==5.3.2
certifi 
charset-normalizer
cleo==2.1.0
click 
clyent==1.2.2
colorama==0.4.6
comm 
conda-build
conda-content-trust 
conda-libmamba-solver 
conda-pack
conda-package-handling 
#conda-repo-cli==1.0.75
conda-token 
conda_index 
conda_package_streaming 
contourpy==1.2.0
crashtest==0.4.1
cryptography 
cycler==0.12.1
debugpy 
decorator
diffusers 
distlib==0.3.7
distro 
Django==4.2.4
docstring-parser==0.14.1
duckdb==0.9.1
duckdb-engine==0.9.2
dulwich==0.21.7
entrypoints
exceptiongroup 
executing 
fastapi==0.104.1
fastjsonschema
ffmpy==0.3.2
filelock==3.12.4
fonttools==4.49.0
fsspec==2024.2.0
future 
gmpy2 
google-api-core==2.15.0
google-api-python-client==2.111.0
google-auth==2.25.2
google-auth-httplib2==0.2.0
googleapis-common-protos==1.62.0
gradio==4.19.1
gradio_client==0.10.0
greenlet==3.0.1
h11==0.14.0
httpcore==1.0.2
httplib2==0.22.0
httpx==0.26.0
huggingface-hub==0.20.3
idna
importlib-metadata 
importlib-resources==6.1.1
installer==0.7.0
ipykernel 
ipynb==0.5.1
ipython 
ipython-genutils==0.2.0
ipywidgets==8.1.1
jaraco.classes 
jedi 
Jinja2 
jsonpatch
jsonpointer==2.1
jsonschema 
jupysql==0.10.5
jupysql-plugin==0.2.5
jupyter-server 
jupyter-ui-poll==0.2.2
jupyter_client 
keyring==24.3.0
kiwisolver==1.4.5 
libmambapy
matplotlib==3.8.3
matplotlib-inline 
mdurl==0.1.2
menuinst
mistune
mpmath 
msal==1.25.0
msgpack==1.0.7
navigator-updater
networkx==3.2.1
notebook
numpy==1.26.2
openai==1.7.0
orjson==3.9.14
packaging 
ply==3.11
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
posthog==3.0.2
powerbiclient==3.1.1
prettytable==3.9.0
prometheus-client 
prompt-toolkit 
protobuf==4.25.1
ptvsd==4.3.2
ptyprocess 
py-algorand-sdk==2.5.0
py4j==0.10.9.7
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycosat 
pycryptodomex==3.20.0
pydantic==2.6.1
pydantic_core==2.16.2
pydub==0.25.1
Pygments 
PyJWT 
PyMySQL==1.1.0
PyNaCl==1.5.0
pyOpenSSL 
pyproject_hooks==1.0.0
PyQt5-sip==12.11.0
pyrsistent 
pyteal==0.26.1
pyTelegramBotAPI==4.15.2
python-dateutil
python-multipart==0.0.9
pytz 
regex==2023.12.25
requests 
rsa==4.9
ruamel-yaml-conda 
ruff==0.2.1
safetensors==0.4.2
scipy==1.11.4
semantic-version==2.10.0
semver
Send2Trash 
shellingham==1.5.4
sip 
six 
sniffio 
soupsieve 
SQLAlchemy==2.0.23
sqlglot==18.13.0
sqlparse==0.4.4
stack-data==0.6.3
starlette==0.27.0
sympy 
tabulate==0.9.0
terminado 
tomlkit==0.12.0
toolz==0.12.1
torch==2.2.0
tornado

trove-classifiers==2023.11.29
truststore 
typing_extensions==4.8.0
tzdata==2023.3
ujson
uritemplate==4.1.1
urllib3 
uvicorn==0.24.0.post1
virtualenv==20.24.5
wcwidth 
webencodings 
websocket-client
websockets==11.0.3
widgetsnbextension==4.0.9
xattr==0.10.1
zipp 
zstandard
accelerate>=0.25.0
#torch==2.1.2+cu118
#torchvision==0.16.2+cu118
transformers>=4.30.0
numpy>=1.23.5
kornia>=0.7.0
insightface>=0.7.3
opencv-python>=4.8.1.78
tqdm>=4.66.1
matplotlib>=3.7.4
webdataset>=0.2.79
wandb>=0.16.2
munch>=4.0.0
onnxruntime>=1.16.3
einops>=0.7.0
onnx2torch>=1.5.13
warmup-scheduler @ git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git
torchtools @ git+https://github.com/pabloppp/pytorch-tools
